In [7]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import os
import re

In [2]:
def read_excel_files_from_folder(folder_path):
    
    # Check if the folder exists
    if not os.path.isdir(folder_path):
        print(f"Error: The folder at '{folder_path}' does not exist.")
        return {}

    excel_data = {}

    # Loop through all files in the specified folder
    for filename in os.listdir(folder_path):
        
        # Check if the file is an Excel file
        if filename.endswith('.xlsx') or filename.endswith('.xls'):
            
            # Construct the full file path
            file_path = os.path.join(folder_path, filename)
            
            try:
                # Read the Excel file into a pandas DataFrame
                df = pd.read_excel(file_path)
                excel_data[filename] = df
            except Exception as e:
                print(f"Could not read {filename}: {e}")
                
    return excel_data

data_folder = 'data'
all_excel_dfs = read_excel_files_from_folder(data_folder)

transactions = pd.concat(all_excel_dfs.values())
transactions['Date'] = pd.to_datetime(transactions['Date'], format='%d/%m/%y', errors='coerce')

transactions = transactions.sort_values('Date', ascending= False)

In [6]:

pd.reset_option('all')
transactions[~transactions.Deposit.isna()]

/var/folders/l4/7cp75vs51b3d0tnyvjd4p9fr0000gn/T/ipykernel_2669/1418019656.py:1: FutureWarning: data_manager option is deprecated and will be removed in a future version. Only the BlockManager will be available.
  pd.reset_option('all')
/var/folders/l4/7cp75vs51b3d0tnyvjd4p9fr0000gn/T/ipykernel_2669/1418019656.py:1: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')

,Date,Description,Withdrawal,Deposit,Balance
259,2025-07-31,Interest Earned,NaN,0.07,877.67
203,2025-07-11,Salary ACCOUNTANT-GENERAL 05528200563010016400472,NaN,2758.38,3356.66
202,2025-07-10,"Cash Deposit Machine 01816980,TG PAGAR DL3",NaN,160.00,598.28
183,2025-06-30,Interest Earned,NaN,0.05,737.40
155,2025-06-11,Salary ACCOUNTANT-GENERAL 05425200482000015990033,NaN,57.31,1320.07
...,...,...,...,...,...
7,2019-02-28,Interest Earned,NaN,0.02,1005.05
6,2019-02-23,"Cash Deposit Machine 36179415,TG PAGAR BR B",NaN,550.00,1005.03
4,2019-01-31,Interest Earned,NaN,0.01,500.03
2,2019-01-21,Cash,NaN,500.00,510.00
0,2019-01-19,"Cash Deposit Machine 36179415,TG PAGAR BR 3",NaN,50.00,0.00

In [ ]:
# Create a dictionary of rules for withdrawals
withdrawal_rules = {
    'Food & Groceries': ['supermarket', 'bakery', 'restaurant', 'cafe', 'food court'],
    'Transport': ['uber', 'grab', 'bus', 'mrt', 'petrol station'],
    'Bills': ['phone bill', 'electricity', 'internet'],
    'Shopping': ['shopee', 'lazada', 'amazon', 'department store'],
    'Health': ['pharmacy', 'clinic', 'hospital']
}

In [31]:
# Create a dictionary of rules for deposits
deposit_rules = {
    'Salary': ['salary'],
    'Cash Deposit': ['cash deposit', 'cash'],
    'Government': ['mindef', 'gov', 'saf', 'gst voucher', 'govt'],
    'Bank Transfer': ['fast payment / receipt', 'funds transfer', 'remittance', 'trfsb', 'fast'],
    'Interest': ['interest'],
    'Refund': ['refund', 'debit card transaction']
}

def categorize_deposit(text, rules):
    """
    Categorizes a deposit description based on a set of rules.

    Args:
        text (str): The deposit description to categorize.
        rules (dict): A dictionary of rules where keys are categories and
                      values are lists of keywords.

    Returns:
        str: The category of the deposit.
    """
    text_lower = text.lower()

    # Rule 1: Check for the 'Other GIRO Deposits' condition first, as it's a
    # special case with a negative constraint.
    if 'payments / collections' in text_lower:
        # Check if any government keywords are present.
        gov_keywords = rules.get('Government', [])
        contains_gov_keyword = any(keyword in text_lower for keyword in gov_keywords)

        # If it contains 'payments / collections' AND does NOT contain any
        # government keywords, it's 'Other GIRO Deposits'.
        if not contains_gov_keyword:
            return 'Other GIRO Deposits'

    # Rule 2: Check for all other defined rules.
    for category, keywords in rules.items():
        # Iterate through the list of keywords for each category.
        for keyword in keywords:
            # We use a regex word boundary (\b) to ensure we match whole words,
            # which can prevent accidental matches in other words.
            if re.search(r'\b' + re.escape(keyword) + r'\b', text_lower):
                return category

    # Fallback: If no rules match, return 'Other'.
    return 'Other'

transactions['Deposit Category'] = np.where(
    transactions['Deposit'].notna(),
    transactions['Description'].apply(lambda x: categorize_deposit(x, deposit_rules)),
    np.nan
)

#transactions['Deposit Category'] = transactions['Description'].apply(lambda x: categorize_deposit(x, deposit_rules))

In [32]:
pd.set_option('display.max_rows', None)
#transactions[~transactions.Deposit.isna()]
#pd.reset_option('all')
transactions[transactions['Deposit Category'] == 'Other']

         Date Description  Withdrawal  Deposit  Balance Deposit Category
23 2019-04-08      Advice         NaN    70.02  2222.22            Other

In [ ]:
def categorize_transaction(description, rules):
    """
    Categorizes a single transaction based on a set of rules.

    Args:
        description (str): The description of the transaction.
        rules (dict): A dictionary of categories and their associated keywords.

    Returns:
        str: The assigned category, or 'Uncategorized' if no match is found.
    """
    if pd.isna(description):
        return 'Uncategorized'
        
    # Check for keywords in a case-insensitive manner
    desc_lower = description.lower()
    for category, keywords in rules.items():
        if any(keyword in desc_lower for keyword in keywords):
            return category
            
    return 'Uncategorized'

In [ ]:
# Apply the categorization to create new columns
transactions['Withdrawal_Category'] = transactions.apply(
    lambda row: categorize_transaction(row['descriptions'], withdrawal_rules) if row['withdrawal'] > 0 else 'N/A',
    axis=1
)

transactions['Deposit_Category'] = transactions.apply(
    lambda row: categorize_transaction(row['descriptions'], deposit_rules) if row['deposit'] > 0 else 'N/A',
    axis=1
)

# Display the first few rows with the new categories to verify
print(transactions.head())

In [6]:
total = transactions[transactions['Withdrawal'].isin([90, 100, 110, 120, 130, 140, 150, 160])].sort_values(by = 'Date')
total

,Date,Description,Withdrawal,Deposit,Balance
38,2019-06-08,"Cash Withdrawal 01816980,TG PAGAR BR C",100.0,NaN,3113.16
44,2019-06-29,"Cash Withdrawal 01816980,TG PAGAR BR C",100.0,NaN,3029.48
56,2019-09-07,"Cash Withdrawal 01816980,TG PAGAR BR B",100.0,NaN,3954.82
62,2019-09-21,"Cash Withdrawal 01816980,TG PAGAR BR C",120.0,NaN,3118.62
71,2019-10-18,"Cash Withdrawal 01816980,TG PAGAR BR C",100.0,NaN,3971.82
75,2019-11-01,"Cash Withdrawal 01816980,TG PAGAR MRT 1",100.0,NaN,3801.49
85,2019-12-07,"Cash Withdrawal 01816980,TG PAGAR BR C",100.0,NaN,4604.58
88,2019-12-14,"Cash Withdrawal 01816980,TG PAGAR BR B",100.0,NaN,4487.43
95,2019-12-30,"Cash Withdrawal 01816980,TG PAGAR MRT 2",100.0,NaN,4349.50
96,2019-12-31,"Cash Withdrawal 01816980,TG PAGAR BR C",100.0,NaN,4249.50
4,2020-01-17,"Cash Withdrawal 01816980,TG PAGAR BR A",110.0,NaN,4110.44
29,2020-03-22,"Cash Withdrawal 01816980,TG PAGAR MRT 2",100.0,NaN,5214.41
30,2020-03-26,Funds Transfer 120-484909-9 : I-BANK,100.0,NaN,5114.41
41,2020-05-29,"Cash Withdrawal 01816980,TG PAGAR BR C",110.0,NaN,4978.14
56,2020-07-12,"Cash Withdrawal 01816980,CITY SQ MALL 2",100.0,NaN,4752.83
61,2020-07-26,"Cash Withdrawal 01816980,TG PAGAR BR C",150.0,NaN,7586.58
80,2020-08-22,"Cash Withdrawal 01816980,TG PAGAR BR B",120.0,NaN,7031.28
90,2020-10-17,"Cash Withdrawal 01816980,TG PAGAR BR A",120.0,NaN,6905.18
109,2020-11-21,"Cash Withdrawal 01816980,TG PAGAR BR C",100.0,NaN,4528.82
121,2020-12-14,"Cash Withdrawal 01816980,TG PAGAR BR B",140.0,NaN,4606.65
20,2021-02-16,"Cash Withdrawal 01816980,TG PAGAR BR B",140.0,NaN,7745.37
60,2021-05-09,"Cash Withdrawal 01816980,TG PAGAR BR 1",150.0,NaN,8839.11
85,2021-06-21,FAST Collection DCOM2106218I67SG IIRGPCSG21062...,100.0,NaN,12962.97
89,2021-06-22,"Cash Withdrawal 01816980,TG PAGAR DLA",120.0,NaN,9322.97
117,2021-07-31,"Cash Withdrawal 01816980,TG PAGAR DLA",110.0,NaN,3453.61
155,2021-09-21,"Cash Withdrawal 01816980,EM GUILLEMARD",100.0,NaN,4764.84
195,2021-12-03,"Cash Withdrawal 01816980,TG PAGAR DLA",130.0,NaN,7232.50
9,2022-01-18,"Cash Withdrawal 01816980,TG PAGAR DLA",100.0,NaN,5113.77
35,2022-04-30,"Cash Withdrawal 01816980,TG PAGAR DLA",110.0,NaN,1776.51
69,2022-07-08,"Cash Withdrawal 01816980,TG PAGAR DL3",150.0,NaN,2936.53
121,2022-11-10,"Cash Withdrawal 01816980,BRAS BASAH",120.0,NaN,137.08
66,2023-03-08,"Cash Withdrawal 01816980,TG PAGAR DLC",150.0,NaN,2455.35
120,2023-05-07,"Cash Withdrawal 01816980,TG PAGAR DL3",120.0,NaN,496.72
140,2023-05-30,"Cash Withdrawal 01816980,CHAI CHEE EBC2",150.0,NaN,662.51
231,2023-08-02,"Cash Withdrawal 01816980,TG PAGAR DLB",150.0,NaN,2108.75
296,2023-09-04,"Cash Withdrawal 01816980,TG PAGAR MRT 1",120.0,NaN,3069.49
318,2023-09-24,"Cash Withdrawal 01816980,TG PAGAR DLB",120.0,NaN,2961.52
380,2023-11-27,"Cash Withdrawal 01816980,TG PAGAR DL2",150.0,NaN,328.55
402,2023-12-17,"Cash Withdrawal 01816980,TG PAGAR DLB",150.0,NaN,657.24
16,2024-01-09,"Cash Withdrawal 01816980,TG PAGAR DL3",150.0,NaN,370.24
81,2024-03-09,"Cash Withdrawal 01816980,TG PAGAR DLA",120.0,NaN,1351.20
102,2024-03-31,"Cash Withdrawal 01816980,TG PAGAR DLA",110.0,NaN,1039.30
157,2024-05-13,"Cash Withdrawal 01816980,TG PAGAR DL3",150.0,NaN,332.13
219,2024-07-15,"Cash Withdrawal 01816980,TG PAGAR DL2",120.0,NaN,2026.85
281,2024-09-17,"Cash Withdrawal 01816980,TG PAGAR DLA",150.0,NaN,1595.08
312,2024-10-21,"Cash Withdrawal 01816980,NTUC NUH MC",100.0,NaN,436.73
337,2024-11-21,"Cash Withdrawal 01816980,TG PAGAR DL2",120.0,NaN,521.26
356,2024-12-13,"Cash Withdrawal 01816980,TG PAGAR DLB",150.0,NaN,101.98
23,2025-01-28,"Cash Withdrawal 01816980,TG PAGAR DL3",150.0,NaN,62.02
58,2025-03-03,"Cash Withdrawal 01816980,TG PAGAR DLC",110.0,NaN,308.19
81,2025-03-21,"Cash Withdrawal 01816980,TG PAGAR DLC",120.0,NaN,1173.87
121,2025-05-06,"Cash Withdrawal 01816980,TG PAGAR DLA",120.0,NaN,575.09
147,2025-06-02,"Cash Withdrawal 01816980,TG PAGAR DL3",150.0,NaN,1422.19
157,2025-06-14,"Cash Withdrawal 01816980,TG PAGAR DL3",120.0,NaN,1122.07
201,2025-07-10,"Cash Withdrawal 01816980,TG PAGAR DL3",150.0,NaN,438.28
225,2025-07-19,"Cash Withdrawal 01816980,TG PAGAR DLC",160.0,NaN,3033.55

In [7]:
total['Withdrawal'].sum()

np.float64(6860.0)